<br />
<h2>Log In</h2>
<div class="layout errorhandling">
<form action="/auth/login" method="POST">
  <div class ="formtext">
  <label>
    Username
    <br />
    <input type="text" name="username" placeholder="Your username" value ="{{username}}" />
  </label>
  <label>
    Password
    <br />
    <input type="password" name="password" placeholder="Your password" value ="{{password}}"/>
  </label>

  <button class ="button" type="submit">Log In</button>
  </br>
  </br>
  </div>
</form>
<div class ="error">
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
</div>
</div>