<br />
<h2>Sign up</h2>
<div class ="layout errorhandling">
<form class ="formstyle" action="/auth/signup" method="POST">
  <div class="formtext">
  <label>
    Username
   <br />
    <input
      type="text"
      name="username"
      placeholder="Your username"
      value="{{username}}"
    />
  </label>
  <label>
    Email   
    <br />
    <input
      type="text"
      name="email"
      placeholder="Your email"
      value="{{email}}"
    />
  </label>
  <label>
    Password
   <br />
    <input
      type="password"
      name="password"
      placeholder="Your password"
      value="{{password}}"
    />
  </label>
  <button class ="button"type="submit">Submit</button>
  </div>
</form>
</br>
<div class="error">
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
</div>
</div>