<h3>Please feel free to add a trip, </h3>
{{! Include the form in a table to give it the right format }}
<form action="/trip/add" method="post">
  <label for="location">
    Location
    <input type="text" id="location" name="location" placeholder="Location" />
  </label>
  <br />
  <label for="activity_type">
    Activity Type
    <select id="activity_type" name="activity_type">
      <option value="Climbing">Climbing</option>
      <option value="Alpinism">Alpinism</option>
      <option value="Canyoning">Canyoning</option>
    </select>
  </label>
  <br />
  <label for="level">
    Level
    <select id="level" name="level">
      <option value="Rookie">Rookie</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Pro">Pro</option>
    </select>
  </label>
  <br />
  <label for="level">
    Spaces
    <input type="number" id="spaces" name="spaces" placeholder="Spaces" value="2" />
  </label>
  <br />
  <label for="description">
    Description
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Description"
    />
  </label>
  <br />
  <button type="submit">Create your trip</button>
</form>

{{#if createdTrip}}
  <h4>
    Thank you for creating
    <a href="/trip/{{createdTrip._id}}">{{createdTrip.location}}</a></h4>
{{/if}}