<br />
<h2>Create a trip</h2>
<br />
<p>If you are looking for someone to join you on a trip, you are in the right
  place
  <br />where you do that. It is pretty simple create your trip and wait for
  someone to book it</p>
<img src = "/public/images/camel-ride 1.png" alt="My Happy SVG"/>
<br />
{{! Include the form in a table to give it the right format }}
<div class="layout">
  <form class="formstyle" action="/trip/add" method="post">
    <div class="formtext">
      <div class="formrows">
      {{#if createdTrip}}
      <br />
      <h4>
      Submit another trip</h4>
      {{/if}}
      <label for="location">
        Location
        <br />
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Location"
        />
      </label>
      <label for="activity_type">
        Type of activity
        <br />
        <select id="activity_type" name="activity_type" required>
          <option value="" disabled selected hidden>- Choose one -</option>
          <option value="Climbing">Climbing</option>
          <option value="Alpinism">Alpinism</option>
          <option value="Canyoning">Canyoning</option>
        </select>
      </label>
      </div>
      <div>
      <label for="level">
        Level
        <br />
        <select id="level" name="level" required>
          <option value="" disabled selected hidden>- Choose one -</option>
          <option value="Rookie">Rookie</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Pro">Pro</option>
        </select>
      </label>
      <label for="level">
        Spaces
        <br />
        <input
          type="number"
          id="spaces"
          name="spaces"
          placeholder="Spaces (e.g 2)"
        />
      </label>
      </div>
      <label for="description">Description
        <br />
        <textarea maxlength="200"type="text"id="description"name="description" placeholder="Description"></textarea>
      </label>
      <button class="button" type="submit">Create your trip</button>
    </div>
  </form>
  <br />
  <div class="singletrip">
  <div>
  {{#if createdTrip}}
    <br />
    <h4 class="color-deep-taupe">
      Check out your next
      {{createdTrip.activity_type}}
      trip!
    </h4>
    </div>
    <div>
      <a
        class="view-details-button"
        href="/trip/{{createdTrip._id}}"
      >View Details</a>
   </div>
   </div>
  {{/if}}
</div>