<h3>Congratulations, youre trying to make all minds less blurry. I know, title
  of the app is deceiving, but we are clearing minds that are blurry.
  :mind-blown:</h3>

<form action="/trip/add" method="POST">
  <label for="location">
    Location
    <input type="text" id="location" name="location" placeholder="Location" />
  </label>
  <label for="activity_type">
    Activity Type
    <input
      type="text"
      id="activity_type"
      name="activity_type"
      placeholder="Activity Type"
    />
  </label>
  <label for="level">
    Level
    <input type="text" id="level" name="level" placeholder="Level" />
  </label>
  <label for="description">
    Level
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Description"
    />
  </label>
</form>>