<h3>Please feel free to add a trip, </h3>

<form action="/trip/add" method="post">
  <label for="location">
    Location
    <input type="text" id="location" name="location" placeholder="Location" />
  </label>
  <br />
  <label for="activity_type">
    Activity Type
    <input
      type="text"
      id="activity_type"
      name="activity_type"
      placeholder="Activity Type"
    />
  </label>
  <br />
  <label for="level">
    Level
    <input type="text" id="level" name="level" placeholder="Level" />
  </label>
  <br />
  <label for="level">
    Spaces
    <input type="number" id="spaces" name="spaces" placeholder="Spaces" />
  </label>
  <br />
  <label for="description">
    Description
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Description"
    />
  </label>
  <br />
  <button type="submit">Create your trip</button>
</form>

{{#if createdTrip}}
  <h4>
    Thank you for creating
    <a href="/trip/{{createdTrip._id}}">{{createdTrip.location}}</a></h4>
{{/if}}