<h3>Congratulations, youre trying to make all minds less blurry. I know, title
  of the app is deceiving, but we are clearing minds that are blurry.
  :mind-blown:</h3>

<form method="post" action="/trip/add">
</form>>