<h1>Delete user</h1>
<p>We are sad to see you go, our bad we didn't quite make it</p>
{{! update username, update email }}
<form action="/settings/delete-user" method="POST">

  <button class="button" type="submit">Delete</button>
</form>