<h2>Settings</h2>

<ul>
  <li>
    <a href="/settings/update-user">Feel like updating your profile? Click In
      this line</a>
  </li>
  <li>
    <a href="/settings/delete-user">Feel like deleting your profile</a>
  </li>
</ul>