<h2>Update user</h2>
<br>
<p>Update your profile, bear in mind that you might not be able to.</p>

{{! update username, update email }}
<div class="layout errorhandling"></div>
<form class="formstyle" action="/settings/update-user" method="POST">
  <div class="formtext">
    <label>Username
      <br />
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{user.username}}"
      />
    </label>
    <label>Email
      <br />
      <input
        type="text"
        name="email"
        placeholder="Email"
        value="{{user.email}}"
      />
    </label>
    <button class="button" type="submit">Update</button>
  </div>
</form>