<h1>Rope Partner </h1>
<p>The application that finds you real time partners for climbing, alpine
  journeys, and canyoning trips
</p>

<li>
{{!-- Style the button with a specific class --}}
  <a href="/trip/all-trips">Trips</a>
</li>

{{!-- insert an image here --}}