<div class="layout">
  <div class ="homepage-header">
    <h1>Find a parter realtime 2</h1>
    <p class='color-deep-taupe'>For you climbing trips, alpine
      journeys, and canyoning descends
    </p>
    <a class="button" href="/trip/all-trips">Trips</a>
    </div>
     <div class="homepage-svg">
    <svg
      width="550"
      height="387"
      viewBox="0 0 1189 838"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1023.03 837.554L1182.57 520.824C1186.79 512.444 1188.84 503.137 1188.52 493.759C1188.21 484.381 1185.54 475.233 1180.77 467.154L933.505 48.5944C928.715 40.4954 921.975 33.7324 913.885 28.9294C905.795 24.1274 896.625 21.4394 887.225 21.1144L279.225 0.0343682C270.211 -0.281632 261.254 1.58537 253.116 5.47437C244.978 9.36437 237.901 15.1624 232.485 22.3744L11.2246 317.014C6.13656 323.787 2.65256 331.625 1.03256 339.94C-0.586438 348.254 -0.298443 356.827 1.87456 365.014L127.205 837.574L1023.03 837.554Z"
        fill="#F5B0CB"
      ></path>
      <path
        d="M517.614 213.374C531.558 213.37 545.188 209.232 556.779 201.482C568.371 193.731 577.404 182.718 582.737 169.834C588.069 156.95 589.46 142.774 586.736 129.099C584.011 115.424 577.293 102.864 567.43 93.0074C557.567 83.1505 545.003 76.4404 531.326 73.7243C517.649 71.0089 503.474 72.4094 490.593 77.7501C477.712 83.0908 466.705 92.131 458.962 103.728C451.22 115.324 447.09 128.957 447.095 142.9C447.102 161.597 454.535 179.525 467.759 192.741C480.984 205.958 498.918 213.38 517.614 213.374Z"
        fill="#FFC183"
      ></path>
      <path
        d="M80.4849 669.974H1107.44L1023.03 837.544H127.205L80.4849 669.974Z"
        fill="#282F4F"
      ></path>
      <path
        opacity="0.3"
        d="M80.4849 669.974H1107.44L1023.03 837.544H127.205L80.4849 669.974Z"
        fill="white"
      ></path>
      <path
        d="M329.585 229.464C329.585 229.464 393.185 272.944 414.255 286.814C498.495 342.284 1016.59 669.874 1016.59 669.874H628.595H81.0947L13.0947 409.074C13.0947 409.074 128.395 356.374 175.935 330.934C228.865 302.574 329.585 229.464 329.585 229.464Z"
        fill="#7A5C61"
      ></path>
      <path
        d="M13.0947 407.874C13.0947 407.874 108.665 367.644 175.935 328.934C245.155 289.094 329.585 227.464 329.585 227.464L344.095 288.114L292.795 306.664L332.095 328.504L27.5947 462.374L13.0947 407.874Z"
        fill="white"
      ></path>
      <path
        d="M171.518 432.205H150.45V672.373H171.518V432.205Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M111.476 419.947C111.476 419.947 112.72 464.859 151.695 488.895L151.312 475.488C151.312 475.488 125.457 449.824 128.234 427.991L111.476 419.947Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M212.982 419.947C212.982 419.947 210.013 466.487 170.943 490.523L168.932 475.105C168.932 475.105 202.927 452.218 197.756 424.735L212.982 419.947Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.2"
        d="M171.517 434.409H161.941V672.374H171.517V434.409Z"
        fill="black"
      ></path>
      <path
        opacity="0.2"
        d="M118.945 425.6C118.945 425.6 123.637 465.724 150.642 480.662L150.546 474.917C150.546 474.917 127.084 451.743 127.946 429.047C125.074 427.611 122.105 426.462 118.945 425.6Z"
        fill="black"
      ></path>
      <path
        opacity="0.2"
        d="M204.46 425.312C204.46 425.312 207.811 455.572 171.614 481.619L171.422 473.384C171.422 473.384 200.246 453.37 198.044 427.897L204.46 425.312Z"
        fill="black"
      ></path>
      <path
        d="M257.128 353.875C255.787 401.468 216.142 438.911 168.549 437.666C122.871 436.421 86.099 399.649 84.7583 353.875C84.7583 306.282 123.35 205.829 170.943 205.829C218.536 205.829 257.128 306.282 257.128 353.875Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M257.128 353.875C255.787 401.468 216.142 438.911 168.549 437.666C122.871 436.421 86.099 399.649 84.7583 353.875C84.7583 306.282 123.35 205.829 170.943 205.829C218.536 205.829 257.128 306.282 257.128 353.875Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M226.005 251.027C226.101 253.613 226.197 256.294 226.197 258.879C226.197 334.914 179.753 396.488 122.488 396.488C112.433 396.488 102.57 394.572 93.1851 390.933C113.774 433.834 165.197 452.029 208.098 431.44C237.975 417.172 257.032 387.007 257.032 353.874C257.127 327.157 245.062 283.969 226.005 251.027Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M257.99 354.066C257.99 306.76 219.111 207.456 170.751 205.062V440.825C219.111 439.867 257.99 401.371 257.99 354.066Z"
        fill="black"
      ></path>
      <path
        d="M268.332 400.605C267.757 429.621 243.721 452.699 214.706 452.125C185.69 451.55 162.612 427.514 163.186 398.499C163.761 369.483 188.563 308.675 217.578 309.345C246.69 309.92 269.002 371.59 268.332 400.605Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M268.332 400.605C267.757 429.621 243.721 452.699 214.706 452.125C185.69 451.55 162.612 427.514 163.186 398.499C163.761 369.483 188.563 308.675 217.578 309.345C246.69 309.92 269.002 371.59 268.332 400.605Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M250.616 337.593C250.616 339.221 250.616 340.753 250.616 342.381C249.658 388.729 220.547 425.693 185.69 425.022C179.561 424.927 173.528 423.586 167.878 421.288C179.849 447.718 210.971 459.496 237.401 447.526C255.883 439.195 267.853 421 268.331 400.699C268.714 384.324 261.82 357.798 250.616 337.593Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M268.906 400.795C269.481 371.875 246.977 310.876 217.578 308.865L214.61 452.601C244.104 452.601 268.332 429.619 268.906 400.795Z"
        fill="black"
      ></path>
      <path
        d="M153.515 385.186C153.515 411.233 132.352 432.396 106.305 432.396C80.2578 432.396 59.0947 411.233 59.0947 385.186C59.0947 359.139 80.2578 304.077 106.305 304.077C132.352 304.077 153.515 359.139 153.515 385.186Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M153.515 385.186C153.515 411.233 132.352 432.396 106.305 432.396C80.2578 432.396 59.0947 411.233 59.0947 385.186C59.0947 359.139 80.2578 304.077 106.305 304.077C132.352 304.077 153.515 359.139 153.515 385.186Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M136.47 328.882C136.565 330.318 136.565 331.754 136.565 333.191C136.565 374.847 111.093 408.65 79.6835 408.65C74.2251 408.65 68.7667 407.597 63.6914 405.586C74.8954 429.143 103.145 439.102 126.702 427.898C143.077 420.046 153.611 403.479 153.611 385.285C153.515 370.537 146.907 346.885 136.47 328.882Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M153.993 385.282C153.993 359.331 132.639 304.938 106.113 303.598V432.779C132.639 432.396 153.993 411.233 153.993 385.282Z"
        fill="black"
      ></path>
      <path
        d="M325.606 525.776H312.955V669.998H325.606V525.776Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M289.55 518.414C289.55 518.414 290.297 545.384 313.702 559.818L313.472 551.767C313.472 551.767 297.946 536.356 299.613 523.245L289.55 518.414Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M350.506 518.414C350.506 518.414 348.723 546.362 325.261 560.795L324.053 551.537C324.053 551.537 344.467 537.793 341.362 521.29L350.506 518.414Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.2"
        d="M325.605 527.099H319.855V669.999H325.605V527.099Z"
        fill="black"
      ></path>
      <path
        opacity="0.2"
        d="M294.035 521.809C294.035 521.809 296.852 545.903 313.069 554.874L313.011 551.424C313.011 551.424 298.923 537.508 299.44 523.879C297.715 523.016 295.932 522.326 294.035 521.809Z"
        fill="black"
      ></path>
      <path
        opacity="0.2"
        d="M345.387 521.636C345.387 521.636 347.4 539.807 325.663 555.449L325.548 550.503C325.548 550.503 342.857 538.485 341.534 523.189L345.387 521.636Z"
        fill="black"
      ></path>
      <path
        d="M377.015 478.738C376.21 507.318 352.403 529.802 323.823 529.055C296.393 528.307 274.311 506.225 273.506 478.738C273.506 450.158 296.68 389.835 325.26 389.835C353.84 389.835 377.015 450.158 377.015 478.738Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M377.015 478.738C376.21 507.318 352.403 529.802 323.823 529.055C296.393 528.307 274.311 506.225 273.506 478.738C273.506 450.158 296.68 389.835 325.26 389.835C353.84 389.835 377.015 450.158 377.015 478.738Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M358.325 416.977C358.383 418.529 358.44 420.14 358.44 421.692C358.44 467.351 330.55 504.327 296.162 504.327C290.124 504.327 284.201 503.177 278.566 500.992C290.929 526.754 321.81 537.68 347.572 525.316C365.513 516.748 376.957 498.634 376.957 478.737C377.014 462.693 369.769 436.758 358.325 416.977Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M377.532 478.852C377.532 450.445 354.185 390.812 325.145 389.374V530.952C354.185 530.377 377.532 507.26 377.532 478.852Z"
        fill="black"
      ></path>
      <path
        d="M383.742 506.8C383.397 524.224 368.964 538.082 351.54 537.737C334.116 537.392 320.257 522.958 320.602 505.534C320.947 488.11 335.841 451.595 353.265 451.997C370.746 452.342 384.145 489.376 383.742 506.8Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M383.742 506.8C383.397 524.224 368.964 538.082 351.54 537.737C334.116 537.392 320.257 522.958 320.602 505.534C320.947 488.11 335.841 451.595 353.265 451.997C370.746 452.342 384.145 489.376 383.742 506.8Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M373.104 468.96C373.104 469.938 373.104 470.858 373.104 471.835C372.529 499.668 355.048 521.865 334.116 521.462C330.436 521.405 326.813 520.6 323.42 519.219C330.608 535.091 349.297 542.164 365.169 534.976C376.267 529.973 383.455 519.047 383.743 506.856C383.973 497.022 379.832 481.094 373.104 468.96Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M384.088 506.913C384.433 489.547 370.92 452.916 353.266 451.709L351.483 538.024C369.194 538.024 383.743 524.222 384.088 506.913Z"
        fill="black"
      ></path>
      <path
        d="M314.795 497.54C314.795 513.181 302.086 525.89 286.445 525.89C270.803 525.89 258.095 513.181 258.095 497.54C258.095 481.899 270.803 448.833 286.445 448.833C302.086 448.833 314.795 481.899 314.795 497.54Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.4"
        d="M314.795 497.54C314.795 513.181 302.086 525.89 286.445 525.89C270.803 525.89 258.095 513.181 258.095 497.54C258.095 481.899 270.803 448.833 286.445 448.833C302.086 448.833 314.795 481.899 314.795 497.54Z"
        fill="#CCFCCB"
      ></path>
      <path
        opacity="0.1"
        d="M304.559 463.729C304.617 464.591 304.617 465.454 304.617 466.317C304.617 491.331 289.32 511.63 270.459 511.63C267.181 511.63 263.903 510.998 260.855 509.79C267.584 523.937 284.548 529.917 298.694 523.189C308.527 518.474 314.853 508.525 314.853 497.599C314.795 488.743 310.827 474.54 304.559 463.729Z"
        fill="black"
      ></path>
      <path
        opacity="0.05"
        d="M315.082 497.598C315.082 482.014 302.258 449.351 286.33 448.546V526.12C302.258 525.89 315.082 513.181 315.082 497.598Z"
        fill="black"
      ></path>
      <path
        d="M988.358 291.528V719.272C988.358 731.39 979.58 741.15 968.706 741.15H774.879C764.005 741.15 755.228 731.39 755.228 719.272V291.528C755.228 266.899 764.005 265.72 774.879 265.72H813.724C815.951 265.72 817.85 268.34 817.85 271.615V273.056C817.85 280.72 821.911 280.72 826.955 280.72H916.762C921.806 280.72 925.866 280.72 925.866 273.056V271.615C925.866 268.34 927.701 265.72 929.994 265.72H968.837C979.593 265.72 988.358 268.995 988.358 291.528Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.8"
        d="M988.358 291.528V719.272C988.358 731.39 979.58 741.15 968.706 741.15H774.879C764.005 741.15 755.228 731.39 755.228 719.272V291.528C755.228 266.899 764.005 265.72 774.879 265.72H813.724C815.951 265.72 817.85 268.34 817.85 271.615V273.056C817.85 280.72 821.911 280.72 826.955 280.72H916.762C921.806 280.72 925.866 280.72 925.866 273.056V271.615C925.866 268.34 927.701 265.72 929.994 265.72H968.837C979.593 265.72 988.358 268.995 988.358 291.528Z"
        fill="white"
      ></path>
      <path
        d="M968.705 265.72C979.579 265.72 988.357 268.995 988.357 291.528V327.49H755.161V291.528C755.161 266.899 763.939 265.72 774.812 265.72H968.705Z"
        fill="#00BC7D"
      ></path>
      <path
        opacity="0.2"
        d="M968.705 265.72C979.579 265.72 988.357 268.995 988.357 291.528V327.49H755.161V291.528C755.161 266.899 763.939 265.72 774.812 265.72H968.705Z"
        fill="black"
      ></path>
      <path
        d="M959.338 709.839H855.58V717.634H959.338V709.839Z"
        fill="white"
      ></path>
      <path
        d="M988.358 341.508V333.713H922.264V328.211H914.665V346.094L850.798 376.226L844.707 386.444L805.797 346.356V328.211H801.998V346.022H755.228V353.817H761.844V506.507H801.278L789.879 533.364V591.467H755.359V595.397H789.879V610.79H851.86V666.993H755.228V674.788H851.86V741.209H859.393V610.731H880.747V653.309H892.341V649.379H884.481V610.731H904.198L955.488 666.672V741.15H963.086V663.593L938.849 637.13L988.371 586.167V575.162L933.675 631.496L907.538 603.002H830.243L877.996 549.485H988.174V545.554H881.521L925.933 495.837H988.358V488.042H962.418V341.508H988.358ZM769.377 498.719V416.904H801.015V412.974H769.377V353.823H802.26L840.58 393.257L822.042 424.437C808.155 425.551 797.216 437.538 797.216 452.145C797.178 457.507 798.69 462.766 801.573 467.287C804.455 471.808 808.584 475.399 813.461 477.626L804.553 498.647H769.377V498.719ZM824.269 432.166C835.012 432.166 843.725 441.141 843.725 452.145C843.725 463.15 835.012 472.124 824.269 472.124C813.526 472.124 804.814 463.15 804.814 452.145C804.814 441.141 813.526 432.166 824.269 432.166ZM819.947 602.936H797.412V535.008L820.863 479.788C821.972 479.919 823.087 479.985 824.204 479.985C828.412 479.957 832.555 478.941 836.298 477.018C840.042 475.095 843.281 472.319 845.755 468.914L900.647 495.771H915.517L819.947 602.936ZM954.819 487.976H902.482L849.554 462.036C850.713 458.867 851.311 455.52 851.322 452.145C851.322 439.044 842.48 428.04 830.624 425.092L856.104 382.252L897.372 362.797L954.885 422.013V487.976H954.819ZM954.819 416.576L901.041 361.16L922.264 351.138V341.574H954.819V416.576Z"
        fill="white"
      ></path>
      <path
        d="M842.348 369.937H849.292L877.327 356.902V335.875H842.348V369.937Z"
        fill="#3562FF"
      ></path>
      <path
        d="M800.163 358.016L816.277 374.588H783.197V358.016H800.163Z"
        fill="#3562FF"
      ></path>
      <path
        d="M803.897 580.927V535.925L816.146 505.204L838.352 516.536H890.232L832.064 580.927H803.897Z"
        fill="#3562FF"
      ></path>
      <path
        d="M988.291 346.552H967.919V374.457H988.291V346.552Z"
        fill="#3562FF"
      ></path>
      <path
        d="M930.464 645.252H887.559V634.182H920.311L930.464 645.252Z"
        fill="#3562FF"
      ></path>
      <path
        d="M925.879 399.349L938.849 412.188L923.128 426.271V438.979L895.354 424.437L925.879 399.349Z"
        fill="#3562FF"
      ></path>
      <path
        d="M988.357 681.935H968.771V719.338H988.357V681.935Z"
        fill="#3562FF"
      ></path>
      <path
        d="M847.064 726.805H827.282L804.617 705.385V679.439H847.064V726.805Z"
        fill="#3562FF"
      ></path>
      <path
        d="M779.267 663.855H758.109V627.435H770.031L779.267 639.881V663.855Z"
        fill="#3562FF"
      ></path>
      <path
        d="M943.945 553.48H921.674V575.424H943.945V553.48Z"
        fill="#3562FF"
      ></path>
      <path
        d="M894.489 680.094H882.646V685.269H894.502L894.489 680.094Z"
        fill="#3562FF"
      ></path>
      <path
        opacity="0.5"
        d="M842.348 369.937H849.292L877.327 356.902V335.875H842.348V369.937Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M800.163 358.016L816.277 374.588H783.197V358.016H800.163Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M803.897 580.927V535.925L816.146 505.204L838.352 516.536H890.232L832.064 580.927H803.897Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M988.291 346.552H967.919V374.457H988.291V346.552Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M930.464 645.252H887.559V634.182H920.311L930.464 645.252Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M925.879 399.349L938.849 412.188L923.128 426.271V438.979L895.354 424.437L925.879 399.349Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M988.357 681.935H968.771V719.338H988.357V681.935Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M847.064 726.805H827.282L804.617 705.385V679.439H847.064V726.805Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M779.267 663.855H758.109V627.435H770.031L779.267 639.881V663.855Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M943.945 553.48H921.674V575.424H943.945V553.48Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.5"
        d="M894.489 680.094H882.646V685.269H894.502L894.489 680.094Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M814.902 585.643H803.897V596.975H814.902V585.643Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M918.463 553.48V575.424H910.734V584.53H897.057V553.48H918.463Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M862.851 706.237V693.463H869.073V680.094H880.681V706.23L862.851 706.237Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M951.019 687.109H937.459V706.237H951.019V687.109Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M887.546 614.072V630.311H917.22L901.171 613.803L887.546 614.072Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M877.72 613.81H862.851V629.138H877.72V613.81Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M770.031 599.464H758.109V624.946H770.031V599.464Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M786.669 599.464H773.253V611.19H786.682L786.669 599.464Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M848.243 646.89H830.295V663.855H848.243V646.89Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M848.243 643.549V613.81H826.312L812.294 628.221V643.549H848.243Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M808.352 624.946L819.356 613.613H789.944V624.946H808.352Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M801.42 495.182H773.253V481.491H806.792L801.42 495.182Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M785.293 456.01H773.253V474.81H785.306L785.293 456.01Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M801.604 422.275V428.826C796.138 435.246 792.66 443.119 791.595 451.483H773.253V422.269L801.604 422.275Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M867.501 485.546L855.973 511.224H841.955L817.98 499.76L824.268 485.677H824.334C828.577 485.663 832.774 484.811 836.686 483.169C840.598 481.529 844.147 479.13 847.129 476.113L867.501 485.546Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M913.878 517.519L929.075 500.487H959.01V517.519H913.878Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M981.872 500.487H962.941V517.519H981.872V500.487Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M888.004 352.382L909.293 342.36V327.556H888.004V352.382Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M816.146 350.024L835.536 369.937V335.875H816.146V350.024Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M818.11 421.162L833.831 394.698L818.831 378.387H798.394V395.942H809.66V413.891L818.11 421.162Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M798.395 329.783H780.381V342.491H798.395V329.783Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M776.188 342.425H759.092V329.783H764.005L769.114 335.023H776.188V342.425Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M887.231 424.764L864.501 449.198L855.789 442.189C853.244 433.658 847.46 426.464 839.675 422.144L858.737 390.113L887.231 424.764Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M862.457 459.999L902.415 480.371H922.394V444.54L891.279 428.754L862.457 459.999Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M950.561 405.375V387.689H933.398L950.561 405.375Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M950.56 369.151H940.407V383.562H950.56V369.151Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M950.561 346.552V364.5H936.74V374.457H926.979V346.552H950.561Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M922.394 371.568V355.061L907.263 362.201L916.368 371.568H922.394Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M786.669 554.529H758.109V586.953H786.669V554.529Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M786.669 535.467H773.253V549.354H786.682L786.669 535.467Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M786.735 531.209H765.773V510.248H795.526L786.735 531.209Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M770.031 545.096H758.109V549.288H770.031V545.096Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M770.031 535.467H758.109V542.41H770.031V535.467Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M949.84 456.927H927.896V480.306H949.84V456.927Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M949.84 445.071H927.896V453.259H949.84V445.071Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M862.261 384.217L896.52 368.103L923.115 395.484L891.607 421.162L862.261 384.217Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M949.84 424.109L941.979 416.576L927.896 428.76V441.468H949.84V424.109Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M792.761 378.584H773.253V408.519H792.774L792.761 378.584Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M805.075 399.807H798.394V406.685H805.075V399.807Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M988.291 451.359H968.05V480.247H988.291V451.359Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M968.05 444.933H988.291V412.181L968.05 424.954V444.933Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M967.919 418.148V397.973H988.357V406.286L967.919 418.148Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M975.387 377.863H967.919V394.763H975.387V377.863Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M988.291 377.863H979.186V394.763H988.291V377.863Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M801.08 679.439H776.058V693.391H801.08V679.439Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M801.08 696.935H776.058V704.73H801.08V696.935Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M767.673 704.33H772.848V679.439H761.319V697.387L767.673 704.33Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M847.065 729.491H827.282V741.151H847.065V729.491Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M822.959 726.805V741.15H774.879C772.327 741.124 769.807 740.58 767.474 739.546C765.142 738.504 763.047 737.004 761.319 735.124V707.874H803.386L822.959 726.805Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M892.655 540.773L910.734 521.318H927.897V540.773H892.655Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M951.937 521.318H931.5V530.292H951.937V521.318Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M940.736 532.65H931.5V540.773H940.736V532.65Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M951.936 532.65H942.962V540.773H951.936V532.65Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M967.33 521.318H954.426V540.838H967.33V521.318Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M981.675 521.318H970.54V534.615L975.845 540.773H981.675V521.318Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M861.344 511.23H890.232V497.016L871.759 488.369L861.344 511.23Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M824.268 465.443C831.434 465.443 837.238 459.462 837.238 452.08C837.238 444.697 831.434 438.717 824.268 438.717C817.102 438.717 811.298 444.697 811.298 452.08C811.298 459.462 817.141 465.443 824.268 465.443Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M786.735 635.551H779.267L773.241 627.428V614.589H786.735V635.551Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M794.792 653.571H783.001V663.855H794.792V653.571Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M808.024 628.679V663.855H797.412V635.551H789.944V628.673L808.024 628.679Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M827.282 647.807H812.282V663.855H827.282V647.807Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M794.792 638.636H783.001V651.606H794.792V638.636Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M947.547 608.963V553.48H983.771V572.346L947.547 608.963Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M840.383 599.006L863.637 573.001H892.786V599.006H840.383Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M866.925 569.988L881.663 553.48H892.668V569.988H866.925Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M910.668 588.132H897.057V599.006H910.682L910.668 588.132Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M943.945 588.591V613.024L933.137 624.946L914.402 604.246V580.527H936.674V588.584L943.945 588.591Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M963.138 658.025L944.076 636.606L965.693 614.793L977.68 628.09L963.138 658.025Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M968.182 612.041L979.71 624.815H988.357V591.342L968.182 612.041Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M968.771 664.772L965.955 661.628L975.387 640.798H988.357V678.594H968.771V664.772Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M988.357 627.762H979.907V638.243H988.357V627.762Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M882.646 720.844H862.863V735.582H882.646V720.844Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M893.048 720.844H885.646V741.216H893.048V720.844Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M906.412 720.844H896.062V728.443H906.412V720.844Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M910.735 730.604H896.062V741.15H910.735V730.604Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M928.224 720.778V741.15H913.879V728.377H909.883V720.778H928.224Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M940.014 741.15L930.582 731.521V720.844H952.853V741.15H940.014Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M987.964 723.661C986.196 733.683 978.27 741.15 968.771 741.216V723.661H987.964Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M951.085 683.572H917.219V648.789H934.185L951.085 667.851V683.572Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M913.223 648.789H896.651V670.799H913.223V648.789Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M934.185 687.109V706.237H896.651V673.615H913.223V687.109H934.185Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M894.489 687.568H882.646V706.236H894.502L894.489 687.568Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M894.555 661.628H862.851V677.677H894.555V661.628Z"
        fill="#00BC7D"
      ></path>
      <path
        d="M877.786 632.217H869.073L862.851 638.308V656.06H877.786V632.217Z"
        fill="#00BC7D"
      ></path>
      <g opacity="0.6">
        <path
          opacity="0.6"
          d="M814.902 585.643H803.897V596.975H814.902V585.643Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M918.464 553.48V575.424H910.735V584.53H897.058V553.48H918.464Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M862.851 706.237V693.463H869.073V680.094H880.681V706.23L862.851 706.237Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M951.019 687.109H937.46V706.236H951.019V687.109Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M887.545 614.072V630.31H917.22L901.171 613.803L887.545 614.072Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M877.72 613.81H862.851V629.138H877.72V613.81Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M770.031 599.464H758.109V624.946H770.031V599.464Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M786.669 599.464H773.254V611.19H786.682L786.669 599.464Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M848.243 646.89H830.295V663.855H848.243V646.89Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M848.243 643.549V613.81H826.312L812.294 628.221V643.549H848.243Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M808.351 624.946L819.356 613.613H789.944V624.946H808.351Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M801.421 495.182H773.254V481.491H806.792L801.421 495.182Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M785.294 456.01H773.254V474.81H785.307L785.294 456.01Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M801.604 422.275V428.826C796.139 435.246 792.66 443.119 791.595 451.484H773.254V422.269L801.604 422.275Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M867.501 485.546L855.973 511.224H841.955L817.98 499.76L824.268 485.677H824.334C828.577 485.663 832.774 484.811 836.686 483.169C840.598 481.529 844.147 479.13 847.129 476.113L867.501 485.546Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M913.878 517.519L929.075 500.487H959.01V517.519H913.878Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M981.872 500.487H962.941V517.519H981.872V500.487Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M888.004 352.382L909.293 342.36V327.556H888.004V352.382Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M816.146 350.024L835.536 369.937V335.875H816.146V350.024Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M818.111 421.162L833.832 394.698L818.832 378.387H798.395V395.943H809.661V413.891L818.111 421.162Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M798.395 329.783H780.381V342.491H798.395V329.783Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M776.189 342.425H759.092V329.783H764.005L769.114 335.023H776.189V342.425Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M887.231 424.764L864.501 449.198L855.789 442.189C853.244 433.658 847.46 426.464 839.675 422.144L858.737 390.113L887.231 424.764Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M862.458 459.999L902.415 480.371H922.394V444.54L891.279 428.754L862.458 459.999Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M950.561 405.375V387.689H933.398L950.561 405.375Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M950.561 369.151H940.408V383.562H950.561V369.151Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M950.561 346.552V364.5H936.74V374.457H926.979V346.552H950.561Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M922.394 371.568V355.061L907.263 362.201L916.368 371.568H922.394Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M786.669 554.528H758.109V586.953H786.669V554.528Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M786.669 535.467H773.254V549.354H786.682L786.669 535.467Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M786.735 531.209H765.773V510.248H795.526L786.735 531.209Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M770.031 545.096H758.109V549.288H770.031V545.096Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M770.031 535.467H758.109V542.41H770.031V535.467Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M949.84 456.927H927.896V480.305H949.84V456.927Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M949.84 445.071H927.896V453.259H949.84V445.071Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M862.261 384.217L896.52 368.103L923.115 395.484L891.607 421.162L862.261 384.217Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M949.84 424.109L941.98 416.576L927.896 428.76V441.468H949.84V424.109Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M792.761 378.584H773.254V408.519H792.774L792.761 378.584Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M805.076 399.807H798.395V406.685H805.076V399.807Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M988.291 451.359H968.05V480.247H988.291V451.359Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M968.05 444.933H988.291V412.181L968.05 424.954V444.933Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M967.919 418.148V397.973H988.357V406.286L967.919 418.148Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M975.387 377.863H967.919V394.763H975.387V377.863Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M988.292 377.863H979.187V394.763H988.292V377.863Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M801.08 679.439H776.058V693.391H801.08V679.439Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M801.08 696.935H776.058V704.73H801.08V696.935Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M767.673 704.33H772.848V679.439H761.319V697.387L767.673 704.33Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M847.064 729.491H827.281V741.15H847.064V729.491Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M822.959 726.805V741.15H774.879C772.327 741.124 769.807 740.581 767.474 739.546C765.142 738.504 763.047 737.004 761.319 735.124V707.874H803.386L822.959 726.805Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M892.655 540.773L910.734 521.318H927.897V540.773H892.655Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M951.937 521.318H931.5V530.292H951.937V521.318Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M940.736 532.65H931.5V540.773H940.736V532.65Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M951.937 532.65H942.962V540.773H951.937V532.65Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M967.331 521.318H954.426V540.838H967.331V521.318Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M981.675 521.318H970.54V534.615L975.845 540.773H981.675V521.318Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M861.344 511.23H890.232V497.016L871.76 488.369L861.344 511.23Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M824.269 465.443C831.435 465.443 837.239 459.462 837.239 452.08C837.239 444.697 831.435 438.717 824.269 438.717C817.103 438.717 811.299 444.697 811.299 452.08C811.299 459.462 817.142 465.443 824.269 465.443Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M786.735 635.551H779.268L773.241 627.428V614.589H786.735V635.551Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M794.792 653.571H783.001V663.855H794.792V653.571Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M808.024 628.679V663.855H797.412V635.551H789.944V628.673L808.024 628.679Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M827.282 647.807H812.281V663.855H827.282V647.807Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M794.792 638.636H783.001V651.606H794.792V638.636Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M947.548 608.963V553.48H983.772V572.346L947.548 608.963Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M840.382 599.006L863.636 573.001H892.785V599.006H840.382Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M866.925 569.988L881.664 553.48H892.668V569.988H866.925Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M910.669 588.132H897.058V599.006H910.683L910.669 588.132Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M943.945 588.591V613.024L933.137 624.946L914.402 604.246V580.527H936.674V588.584L943.945 588.591Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M963.138 658.025L944.076 636.605L965.693 614.792L977.68 628.09L963.138 658.025Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M968.182 612.041L979.71 624.815H988.357V591.342L968.182 612.041Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M968.772 664.772L965.955 661.628L975.388 640.798H988.358V678.594H968.772V664.772Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M988.357 627.762H979.907V638.243H988.357V627.762Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M882.646 720.844H862.864V735.582H882.646V720.844Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M893.048 720.844H885.646V741.216H893.048V720.844Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M906.411 720.844H896.061V728.442H906.411V720.844Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M910.734 730.604H896.061V741.15H910.734V730.604Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M928.224 720.779V741.15H913.879V728.377H909.883V720.779H928.224Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M940.015 741.15L930.582 731.521V720.844H952.854V741.15H940.015Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M987.964 723.661C986.196 733.683 978.27 741.15 968.771 741.216V723.661H987.964Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M951.085 683.572H917.219V648.789H934.185L951.085 667.851V683.572Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M913.223 648.789H896.651V670.799H913.223V648.789Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M934.185 687.109V706.237H896.651V673.615H913.223V687.109H934.185Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M894.489 687.568H882.646V706.237H894.502L894.489 687.568Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M894.555 661.628H862.851V677.677H894.555V661.628Z"
          fill="#6A8D92"
        ></path>
        <path
          opacity="0.6"
          d="M877.786 632.217H869.073L862.851 638.309V656.06H877.786V632.217Z"
          fill="#6A8D92"
        ></path>
      </g>
      <path
        d="M948.858 655.733L905.297 607.849H792.368V534.091L805.207 504.025H764.463V459.999H767.018V501.398H809.071L794.922 534.609V605.222H906.345L906.738 605.681L950.757 653.958L948.858 655.733Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M768.262 457.713C768.268 458.053 768.207 458.392 768.081 458.708C767.956 459.024 767.769 459.313 767.532 459.556C767.294 459.8 767.01 459.994 766.697 460.127C766.384 460.26 766.048 460.331 765.707 460.333C765.024 460.316 764.374 460.033 763.897 459.543C763.419 459.053 763.153 458.397 763.153 457.713C763.153 457.036 763.422 456.386 763.901 455.906C764.38 455.428 765.03 455.158 765.707 455.158C766.385 455.158 767.035 455.428 767.514 455.906C767.993 456.386 768.262 457.036 768.262 457.713Z"
        fill="#3562FF"
      ></path>
      <path
        d="M952.526 655.012C952.532 655.352 952.47 655.691 952.345 656.007C952.219 656.323 952.033 656.612 951.795 656.855C951.557 657.099 951.273 657.293 950.961 657.427C950.648 657.56 950.311 657.63 949.971 657.632C949.287 657.615 948.637 657.332 948.161 656.842C947.683 656.352 947.416 655.696 947.416 655.012C947.41 654.672 947.472 654.333 947.597 654.017C947.722 653.701 947.909 653.413 948.147 653.169C948.385 652.925 948.668 652.731 948.981 652.598C949.294 652.465 949.631 652.395 949.971 652.392C950.654 652.409 951.304 652.693 951.782 653.182C952.259 653.672 952.526 654.328 952.526 655.012Z"
        fill="#3562FF"
      ></path>
      <path
        d="M946.434 276.004L946.041 276.397L945.844 276.593C944.852 275.602 943.512 275.038 942.11 275.021C941.413 275.015 940.723 275.15 940.08 275.421C939.438 275.691 938.859 276.09 938.377 276.593L938.18 276.397L937.787 276.004C937.955 275.868 938.109 275.714 938.246 275.545C938.591 275.268 938.964 275.027 939.359 274.825C939.835 274.582 940.342 274.406 940.866 274.301C941.128 274.235 941.39 274.235 941.586 274.17H942.241C942.418 274.159 942.596 274.182 942.765 274.235C943.231 274.313 943.69 274.423 944.141 274.563C944.465 274.676 944.773 274.83 945.058 275.021C945.386 275.218 945.648 275.414 945.975 275.611C946.142 275.726 946.295 275.857 946.434 276.004Z"
        fill="white"
      ></path>
      <path
        d="M939.634 277.838L939.045 277.249C939.723 276.582 940.593 276.146 941.534 276.004C942.21 275.906 942.9 275.968 943.548 276.184C944.196 276.4 944.785 276.764 945.268 277.249L944.678 277.838C944.017 277.177 943.124 276.8 942.189 276.79C941.232 276.787 940.314 277.165 939.634 277.838Z"
        fill="white"
      ></path>
      <path
        d="M944.01 278.428L943.421 279.017C943.248 278.847 943.043 278.714 942.818 278.623C942.593 278.534 942.353 278.489 942.111 278.493C941.624 278.5 941.157 278.686 940.8 279.017L940.211 278.428C940.723 277.939 941.403 277.666 942.111 277.666C942.818 277.666 943.499 277.939 944.01 278.428Z"
        fill="white"
      ></path>
      <path
        d="M942.7 279.607C942.7 279.71 942.67 279.812 942.612 279.898C942.554 279.984 942.472 280.052 942.377 280.091C942.281 280.131 942.176 280.141 942.074 280.121C941.973 280.101 941.879 280.051 941.806 279.978C941.733 279.904 941.682 279.811 941.662 279.709C941.642 279.607 941.652 279.502 941.692 279.406C941.732 279.311 941.799 279.229 941.886 279.171C941.971 279.114 942.073 279.083 942.176 279.083C942.246 279.082 942.314 279.095 942.378 279.121C942.442 279.147 942.5 279.186 942.549 279.234C942.598 279.283 942.636 279.342 942.662 279.405C942.689 279.469 942.701 279.538 942.7 279.607Z"
        fill="white"
      ></path>
      <path
        d="M770.882 276.462C770.882 276.151 770.974 275.847 771.147 275.589C771.32 275.331 771.565 275.129 771.852 275.01C772.14 274.891 772.455 274.86 772.761 274.921C773.065 274.981 773.346 275.131 773.566 275.351C773.785 275.571 773.935 275.851 773.996 276.156C774.056 276.461 774.026 276.777 773.906 277.064C773.787 277.351 773.586 277.597 773.327 277.77C773.069 277.942 772.765 278.035 772.454 278.035C772.244 278.048 772.034 278.017 771.836 277.942C771.64 277.868 771.461 277.753 771.312 277.604C771.164 277.456 771.048 277.277 770.974 277.08C770.9 276.883 770.868 276.673 770.882 276.462Z"
        fill="white"
      ></path>
      <path
        d="M775.874 276.462C775.874 276.151 775.967 275.847 776.139 275.589C776.312 275.331 776.558 275.129 776.844 275.01C777.132 274.891 777.448 274.86 777.753 274.921C778.058 274.981 778.338 275.131 778.558 275.351C778.778 275.571 778.927 275.851 778.988 276.156C779.049 276.461 779.018 276.777 778.899 277.064C778.78 277.351 778.578 277.597 778.32 277.77C778.061 277.942 777.758 278.035 777.446 278.035C777.237 278.043 777.03 278.008 776.835 277.932C776.641 277.856 776.464 277.74 776.316 277.592C776.168 277.445 776.053 277.268 775.977 277.074C775.901 276.879 775.866 276.671 775.874 276.462Z"
        fill="white"
      ></path>
      <path
        d="M780.905 276.462C780.905 276.151 780.998 275.847 781.171 275.589C781.343 275.331 781.588 275.129 781.876 275.01C782.164 274.891 782.479 274.86 782.785 274.921C783.089 274.981 783.37 275.131 783.589 275.351C783.809 275.571 783.959 275.851 784.019 276.156C784.08 276.461 784.049 276.777 783.93 277.064C783.811 277.351 783.609 277.597 783.351 277.77C783.092 277.942 782.789 278.035 782.477 278.035C782.268 278.048 782.057 278.017 781.86 277.942C781.664 277.868 781.485 277.753 781.336 277.604C781.188 277.456 781.072 277.277 780.998 277.08C780.924 276.883 780.892 276.673 780.905 276.462Z"
        fill="white"
      ></path>
      <path
        d="M785.883 276.462C785.883 276.151 785.975 275.847 786.148 275.589C786.321 275.331 786.566 275.129 786.854 275.01C787.141 274.891 787.457 274.86 787.762 274.921C788.067 274.981 788.347 275.131 788.567 275.351C788.787 275.571 788.936 275.851 788.997 276.156C789.058 276.461 789.027 276.777 788.907 277.064C788.789 277.351 788.587 277.597 788.328 277.77C788.07 277.942 787.766 278.035 787.455 278.035C787.247 278.043 787.039 278.008 786.844 277.932C786.649 277.856 786.473 277.74 786.325 277.592C786.177 277.445 786.062 277.268 785.986 277.074C785.91 276.879 785.875 276.671 785.883 276.462Z"
        fill="white"
      ></path>
      <path
        d="M790.94 276.462C790.94 276.151 791.032 275.847 791.204 275.589C791.377 275.331 791.623 275.129 791.91 275.01C792.197 274.891 792.513 274.86 792.818 274.921C793.124 274.981 793.403 275.131 793.623 275.351C793.843 275.571 793.993 275.851 794.054 276.156C794.114 276.461 794.083 276.777 793.964 277.064C793.845 277.351 793.644 277.597 793.385 277.77C793.126 277.942 792.822 278.035 792.512 278.035C792.302 278.048 792.091 278.017 791.895 277.942C791.698 277.868 791.519 277.753 791.37 277.604C791.221 277.456 791.106 277.277 791.032 277.08C790.957 276.883 790.926 276.673 790.94 276.462Z"
        fill="white"
      ></path>
      <path
        d="M977.286 279.934H964.316V273.967H977.286V279.934ZM964.971 279.279H976.631V274.563H964.971V279.279Z"
        fill="white"
      ></path>
      <path
        d="M973.749 274.956H965.43V278.886H973.749V274.956Z"
        fill="white"
      ></path>
      <path
        d="M978.466 275.349H977.287V278.552H978.466V275.349Z"
        fill="white"
      ></path>
      <path
        d="M779.148 315.7L772.008 309.018L779.148 302.337L780.262 303.516L774.432 309.018L780.262 314.521L779.148 315.7Z"
        fill="white"
      ></path>
      <path
        d="M978.466 304.04C978.466 304.312 978.387 304.578 978.236 304.804C978.086 305.03 977.869 305.206 977.614 305.311C977.365 305.415 977.09 305.442 976.821 305.389C976.553 305.336 976.31 305.205 976.12 305.013C975.924 304.82 975.793 304.575 975.741 304.308C975.688 304.041 975.714 303.765 975.819 303.513C975.924 303.262 976.101 303.047 976.324 302.896C976.553 302.745 976.815 302.664 977.09 302.664C977.273 302.66 977.45 302.692 977.621 302.76C977.791 302.827 977.942 302.928 978.073 303.057C978.204 303.186 978.302 303.339 978.367 303.508C978.439 303.677 978.472 303.858 978.466 304.04Z"
        fill="white"
      ></path>
      <path
        d="M978.466 309.018C978.466 309.29 978.387 309.556 978.236 309.783C978.086 310.009 977.869 310.185 977.614 310.289C977.365 310.393 977.09 310.421 976.821 310.368C976.553 310.315 976.31 310.184 976.12 309.991C975.924 309.798 975.793 309.553 975.741 309.287C975.688 309.02 975.714 308.743 975.819 308.492C975.924 308.241 976.101 308.026 976.324 307.875C976.553 307.723 976.815 307.643 977.09 307.643C977.273 307.638 977.45 307.671 977.621 307.738C977.791 307.806 977.942 307.907 978.073 308.036C978.204 308.164 978.302 308.317 978.367 308.486C978.439 308.655 978.472 308.836 978.466 309.018Z"
        fill="white"
      ></path>
      <path
        d="M978.466 313.996C978.466 314.361 978.321 314.711 978.066 314.969C977.804 315.227 977.457 315.372 977.09 315.372C976.723 315.372 976.376 315.227 976.12 314.969C975.858 314.711 975.714 314.361 975.714 313.996C975.727 313.636 975.878 313.294 976.134 313.038C976.389 312.783 976.73 312.634 977.09 312.621C977.273 312.616 977.45 312.649 977.621 312.717C977.791 312.784 977.942 312.885 978.073 313.014C978.204 313.142 978.302 313.296 978.367 313.465C978.439 313.634 978.472 313.814 978.466 313.996Z"
        fill="white"
      ></path>
      <path
        d="M909.032 306.529H834.487V313.472H909.032V306.529Z"
        fill="white"
      ></path>
      <path
        d="M970.343 738.923H773.764C763.873 738.923 755.816 731.259 755.816 721.827V282.685C755.816 273.253 763.873 265.589 773.764 265.589H809.137C811.203 265.565 813.226 266.191 814.918 267.378C816.611 268.565 817.887 270.253 818.569 272.205L820.207 277.118C820.888 279.069 822.166 280.758 823.857 281.945C825.55 283.132 827.572 283.757 829.64 283.734H914.468C916.534 283.757 918.556 283.132 920.249 281.945C921.942 280.758 923.218 279.069 923.9 277.118L925.538 272.205C926.219 270.253 927.496 268.565 929.188 267.378C930.881 266.191 932.903 265.565 934.971 265.589H970.343C980.234 265.589 988.291 273.253 988.291 282.685V721.827C988.291 731.259 980.247 738.923 970.343 738.923ZM744.091 275.611V729.622C744.091 736.048 746.644 742.212 751.19 746.758C755.735 751.304 761.9 753.858 768.327 753.858H975.911C982.337 753.858 988.501 751.304 993.047 746.758C997.593 742.212 1000.15 736.048 1000.15 729.622V275.611C1000.15 269.183 997.593 263.018 993.047 258.473C988.501 253.928 982.337 251.374 975.911 251.374H768.327C765.143 251.367 761.988 251.989 759.044 253.205C756.1 254.421 753.426 256.206 751.174 258.458C748.922 260.709 747.137 263.384 745.922 266.328C744.706 269.272 744.084 272.426 744.091 275.611Z"
        fill="#CCFCCB"
      ></path>
      <path
        d="M883.812 579.551V594.748H897.568L900.712 600.513L903.856 594.748H917.612V579.551H883.812Z"
        fill="white"
      ></path>
      <path
        d="M887.808 591.538C887.48 591.473 887.415 591.145 887.611 590.818C887.808 590.49 888.528 589.442 888.594 589.311C888.783 588.918 888.915 588.498 888.987 588.067C889.183 587.084 889.314 586.167 889.511 585.185V584.988C889.183 585.119 888.921 585.316 888.659 585.447C888.594 585.447 888.594 585.578 888.594 585.643C888.528 585.971 888.463 586.364 888.397 586.691C888.397 586.757 888.397 586.822 888.332 586.822C888.324 586.864 888.307 586.903 888.281 586.937C888.255 586.972 888.222 586.999 888.184 587.019C888.146 587.038 888.104 587.047 888.061 587.047C888.018 587.047 887.977 587.038 887.939 587.019C887.864 587.002 887.797 586.961 887.75 586.901C887.702 586.842 887.676 586.767 887.677 586.691C887.742 586.167 887.873 585.709 887.939 585.25C887.939 585.185 888.07 585.054 888.135 584.988C888.725 584.661 889.38 584.333 890.035 584.005C890.128 583.955 890.231 583.925 890.337 583.917C890.443 583.91 890.549 583.925 890.648 583.962C890.748 584 890.838 584.058 890.913 584.133C890.988 584.209 891.046 584.299 891.083 584.398C891.345 584.857 891.541 585.381 891.803 585.84C891.869 585.905 891.934 586.036 892 586.036C892.327 586.167 892.589 586.298 892.917 586.429C893.113 586.56 893.179 586.691 893.113 586.888C893.1 586.934 893.075 586.975 893.041 587.009C893.008 587.042 892.966 587.066 892.92 587.08C892.874 587.093 892.826 587.094 892.779 587.084C892.733 587.073 892.69 587.051 892.655 587.019C892.262 586.888 891.934 586.691 891.541 586.56C891.476 586.495 891.345 586.429 891.345 586.364C891.222 586.152 891.113 585.933 891.017 585.709C890.886 586.233 890.755 586.757 890.69 587.215C890.69 587.281 891.541 588.329 891.869 588.787C891.995 588.94 892.084 589.119 892.131 589.311C892.278 589.849 892.387 590.396 892.458 590.949C892.524 591.276 892.458 591.538 892.131 591.538C891.803 591.538 891.672 591.276 891.672 591.014C891.594 590.506 891.485 590.003 891.345 589.508C890.923 588.893 890.44 588.322 889.904 587.805C889.838 588.067 889.445 589.311 889.314 589.573C889.249 589.966 888.201 591.604 887.808 591.538Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M891.738 583.088C891.738 583.297 891.656 583.497 891.508 583.644C891.361 583.792 891.161 583.874 890.952 583.874C890.744 583.874 890.544 583.792 890.397 583.644C890.249 583.497 890.166 583.297 890.166 583.088C890.166 582.88 890.249 582.68 890.397 582.532C890.544 582.385 890.744 582.302 890.952 582.302C891.161 582.302 891.361 582.385 891.508 582.532C891.656 582.68 891.738 582.88 891.738 583.088Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M913.551 584.267H898.092V585.905H913.551V584.267Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M913.551 587.477H898.092V588.263H913.551V587.477Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M958.487 633.261C958.094 629.068 955.146 624.876 950.102 624.876C945.058 624.876 942.111 629.068 941.718 633.261C941.062 639.745 945.451 645.641 950.102 651.012C954.753 645.575 959.076 639.745 958.487 633.261ZM950.037 637.911C949.129 637.911 948.243 637.642 947.489 637.138C946.735 636.635 946.147 635.919 945.8 635.081C945.453 634.243 945.362 633.321 945.539 632.431C945.716 631.542 946.153 630.725 946.794 630.084C947.435 629.442 948.252 629.006 949.142 628.829C950.031 628.652 950.953 628.743 951.791 629.09C952.629 629.437 953.345 630.025 953.849 630.779C954.353 631.533 954.622 632.419 954.622 633.326C954.622 634.542 954.138 635.708 953.278 636.568C952.419 637.428 951.252 637.911 950.037 637.911Z"
        fill="#3562FF"
      ></path>
      <path
        d="M623.939 822.425L669.284 823.531L651.194 810.575C649.7 809.509 648.469 808.111 647.593 806.499C646.718 804.88 646.22 803.086 646.138 801.254L645.506 787.034L620.858 787.113L623.939 822.425Z"
        fill="#FFC183"
      ></path>
      <path
        d="M632.945 487L627.573 448.291L649.14 445.763L651.115 459.904L676.236 428.463L687.533 432.887C687.533 432.887 671.812 480.048 657.592 493.794C656.368 494.936 654.984 495.895 653.485 496.638C651.407 497.629 649.076 497.964 646.804 497.597C644.532 497.23 642.426 496.179 640.766 494.584L632.945 487Z"
        fill="#FFC183"
      ></path>
      <path
        opacity="0.15"
        d="M628.995 805.915V805.599C628.918 804.84 629.137 804.074 629.608 803.474C630.08 802.865 630.766 802.47 631.523 802.36L645.98 800.227L645.822 797.383H621.648L623.781 821.398L643.531 819.265L637.053 816.658C634.836 815.805 632.904 814.344 631.479 812.448C630.054 810.544 629.193 808.285 628.995 805.915Z"
        fill="black"
      ></path>
      <path
        opacity="0.15"
        d="M641.556 481.383L639.818 450.495L632.234 452.391L631.207 476.96L632.866 486.992L640.845 494.497C642.506 496.089 644.613 497.138 646.884 497.504C649.156 497.872 651.486 497.539 653.563 496.551C655.085 495.844 656.474 494.883 657.671 493.707C658.224 493.154 661.937 488.809 662.49 488.177C662.49 488.177 651.904 498.763 644.637 489.599C642.757 487.261 641.677 484.381 641.556 481.383Z"
        fill="black"
      ></path>
      <path
        d="M542.176 821.635H562.637L566.429 787.113L542.334 787.192L542.176 821.635Z"
        fill="#FFC183"
      ></path>
      <path
        opacity="0.15"
        d="M547.311 815.789L547.785 805.125C547.82 804.445 548.092 803.789 548.553 803.292C549.014 802.786 549.636 802.454 550.313 802.36L565.007 800.148L565.323 797.225L542.334 797.304L542.255 821.793L547.311 815.789Z"
        fill="black"
      ></path>
      <path
        d="M540.928 540.245V797.462H567.393L590.46 586.063C590.533 585.335 590.871 584.66 591.41 584.164C591.949 583.669 592.651 583.389 593.383 583.378C594.114 583.365 594.821 583.638 595.352 584.141C595.884 584.642 596.198 585.333 596.227 586.063L620.795 797.383H647.259L637.701 540.245H540.928Z"
        fill="#6A8D92"
      ></path>
      <path
        d="M543.756 809.469L544.388 808.837C546.75 806.554 549.92 805.298 553.206 805.338C556.492 805.385 559.626 806.728 561.926 809.074L562.242 809.469C563.404 810.678 564.054 812.298 564.059 813.972V816.658C564.063 818.215 564.303 819.755 564.77 821.24L566.903 828.429C567.467 830.167 567.76 831.976 567.772 833.801V834.749C567.739 835.452 567.43 836.108 566.911 836.582C566.393 837.055 565.708 837.308 565.007 837.277H539.885C539.184 837.308 538.499 837.055 537.981 836.582C537.463 836.108 537.154 835.452 537.12 834.749V834.433C537.108 832.308 537.455 830.198 538.147 828.192L540.675 821.161C541.271 819.542 541.591 817.835 541.623 816.105L541.702 814.051C541.851 812.337 542.575 810.726 543.756 809.469Z"
        fill="#3562FF"
      ></path>
      <path
        d="M540.202 797.462H568.483L569.036 791.695H540.281L540.202 797.462Z"
        fill="#15247C"
      ></path>
      <path
        opacity="0.3"
        d="M540.202 797.462H552.051L552.367 791.695H540.36L540.202 797.462Z"
        fill="black"
      ></path>
      <path
        d="M517.292 523.418H523.549V446.079H517.94C513.042 446.079 509.092 450.345 509.092 455.638L508.46 513.86C508.445 519.152 512.395 523.418 517.292 523.418Z"
        fill="#15247C"
      ></path>
      <path
        opacity="0.2"
        d="M521.717 525.314H527.957V446.079H521.085C516.187 446.079 513.501 449.476 513.501 454.848L512.869 515.439C512.79 520.969 516.819 525.314 521.717 525.314Z"
        fill="black"
      ></path>
      <path
        d="M530.09 388.253H592.578C600.319 388.253 606.56 393.862 606.56 400.813V514.728C606.56 521.68 600.319 527.289 592.578 527.289H528.036C520.295 527.289 514.054 521.68 514.054 514.728L516.108 400.813C516.108 393.862 522.348 388.253 530.09 388.253Z"
        fill="#15247C"
      ></path>
      <path
        opacity="0.2"
        d="M530.09 388.253H592.578C600.319 388.253 606.56 393.862 606.56 400.813V514.728C606.56 521.68 600.319 527.289 592.578 527.289H528.036C520.295 527.289 514.054 521.68 514.054 514.728L516.108 400.813C516.108 393.862 522.348 388.253 530.09 388.253Z"
        fill="white"
      ></path>
      <path
        d="M543.916 392.598L596.765 390.781C603.243 390.781 608.456 396.232 608.456 402.947V512.596C608.456 519.31 603.243 524.761 596.765 524.761L542.731 527.289C536.253 527.289 531.039 521.838 531.039 515.124L532.239 404.756C532.239 398.049 537.438 392.598 543.916 392.598Z"
        fill="#15247C"
      ></path>
      <path
        d="M579.78 397.338C579.403 397.346 579.033 397.237 578.721 397.024C578.409 396.812 578.172 396.507 578.042 396.153L575.751 390.386C575.259 389.451 574.52 388.67 573.615 388.127C572.71 387.583 571.672 387.299 570.616 387.305H558.055C556.889 387.305 555.75 387.66 554.79 388.324C553.831 388.987 553.096 389.927 552.684 391.018L551.341 395.916C551.195 396.375 550.879 396.763 550.457 396.996C550.036 397.229 549.539 397.291 549.073 397.169C548.607 397.048 548.204 396.751 547.95 396.341C547.696 395.931 547.609 395.44 547.707 394.968L549.05 389.833C549.716 387.98 550.939 386.377 552.551 385.246C554.163 384.114 556.086 383.509 558.055 383.513H570.616C572.389 383.518 574.125 384.015 575.632 384.95C577.139 385.885 578.356 387.22 579.148 388.806L579.227 388.964L581.518 394.81C581.611 395.043 581.656 395.292 581.651 395.543C581.645 395.794 581.589 396.041 581.486 396.27C581.383 396.498 581.234 396.703 581.05 396.874C580.865 397.044 580.648 397.175 580.412 397.259C580.209 397.327 579.994 397.354 579.78 397.338Z"
        fill="#15247C"
      ></path>
      <path
        opacity="0.3"
        d="M537.278 834.275V834.591C537.312 835.294 537.621 835.949 538.139 836.423C538.657 836.897 539.342 837.15 540.043 837.119H565.165C565.866 837.15 566.551 836.897 567.069 836.423C567.588 835.949 567.897 835.294 567.93 834.591V833.643C567.943 833.295 567.916 832.955 567.851 832.616H537.357C537.292 833.169 537.266 833.722 537.278 834.275Z"
        fill="black"
      ></path>
      <path
        d="M594.789 393.388L624.492 397.891C627.199 398.33 629.757 399.423 631.946 401.075C634.135 402.727 635.888 404.887 637.053 407.37C642.425 418.43 650.956 448.37 650.956 448.37L635.868 451.53L640.292 549.014H538.385V453.979L508.839 448.923L520.768 411.557C521.539 408.604 523.102 405.918 525.287 403.789C527.473 401.658 530.199 400.166 533.171 399.471L568.009 391.176L594.789 393.388Z"
        fill="#3562FF"
      ></path>
      <path
        d="M620.78 814.446V832.134C620.779 832.805 620.911 833.477 621.169 834.101C621.427 834.725 621.805 835.294 622.282 835.768C622.759 836.242 623.325 836.621 623.949 836.881C624.572 837.134 625.24 837.269 625.915 837.269H686.032C686.313 837.269 686.591 837.213 686.85 837.111C687.109 837 687.344 836.842 687.543 836.644C687.741 836.447 687.898 836.21 688.005 835.949C688.112 835.696 688.167 835.412 688.165 835.136C688.147 833.082 687.491 831.075 686.288 829.408C685.086 827.741 683.396 826.485 681.45 825.814L667.863 821.311L650.641 807.96C649.782 807.273 648.709 806.918 647.611 806.941C646.512 806.973 645.459 807.392 644.637 808.118L637.053 814.596C636.504 815.062 635.85 815.378 635.147 815.528C634.445 815.678 633.717 815.663 633.025 815.465L623.387 812.463C623.081 812.376 622.759 812.361 622.446 812.416C622.133 812.471 621.838 812.605 621.584 812.795C621.331 812.993 621.126 813.237 620.986 813.53C620.847 813.814 620.776 814.13 620.78 814.446Z"
        fill="#3562FF"
      ></path>
      <path
        opacity="0.2"
        d="M638.395 512.911H537.91V513.859H638.395V512.911Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M638.711 521.206H537.91V522.154H638.79L638.711 521.206Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M639.027 529.501H537.91V530.449H639.106L639.027 529.501Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M620.386 397.259L616.989 396.785H547.391L547.233 397.733H620.544L620.386 397.259Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M626.546 405.079H545.969L545.811 406.027H626.862L626.546 405.079Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M628.916 413.374H544.626L544.468 414.322H629.233L628.916 413.374Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M631.286 421.669H543.203L543.045 422.617H631.602L631.286 421.669Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M632.867 429.964H541.861L541.703 430.912H633.104L632.867 429.964Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M633.656 438.258H540.438L540.28 439.206H633.893L633.656 438.258Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M634.446 446.553H539.096L538.938 447.501H634.683L634.446 446.553Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M636.025 454.848H537.91V455.796H636.104L636.025 454.848Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M636.341 463.143H537.91V464.091H636.42L636.341 463.143Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M636.736 471.438H537.91V472.386H636.736V471.438Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M637.052 479.732H537.91V480.68H637.052V479.732Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M637.368 488.027H537.91V488.975H637.447L637.368 488.027Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M637.684 496.322H537.91V497.27H637.763L637.684 496.322Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M638.095 504.617H537.91V505.565H638.095V504.617Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M639.422 537.796H537.91V538.744H639.422V537.796Z"
        fill="white"
      ></path>
      <path
        opacity="0.3"
        d="M625.994 837.277H686.111C686.391 837.277 686.67 837.221 686.929 837.119C687.188 837.008 687.423 836.85 687.621 836.653C687.82 836.455 687.977 836.218 688.084 835.957C688.19 835.705 688.245 835.42 688.244 835.144C688.267 834.417 688.16 833.698 687.928 833.011H620.78C621.028 834.212 621.681 835.294 622.631 836.068C623.58 836.842 624.768 837.269 625.994 837.277Z"
        fill="black"
      ></path>
      <path
        d="M650.404 815.078C650.246 815.078 650.088 814.999 650.088 814.92C650.032 814.873 649.987 814.81 649.957 814.738C649.926 814.675 649.911 814.596 649.911 814.525C649.911 814.454 649.926 814.375 649.957 814.312C649.987 814.241 650.032 814.178 650.088 814.13L653.722 810.18C653.829 810.093 653.966 810.046 654.106 810.054C654.246 810.054 654.379 810.117 654.478 810.212C654.576 810.315 654.635 810.449 654.641 810.583C654.647 810.725 654.602 810.86 654.512 810.97L650.878 814.92C650.734 815.007 650.572 815.062 650.404 815.078Z"
        fill="white"
      ></path>
      <path
        d="M653.326 817.29C653.168 817.29 653.01 817.211 653.01 817.132C652.955 817.085 652.91 817.022 652.88 816.95C652.849 816.887 652.833 816.808 652.833 816.737C652.833 816.666 652.849 816.587 652.88 816.524C652.91 816.453 652.955 816.39 653.01 816.342L656.644 812.392C656.752 812.305 656.889 812.258 657.029 812.266C657.169 812.266 657.302 812.329 657.4 812.424C657.499 812.527 657.558 812.661 657.564 812.795C657.57 812.937 657.524 813.072 657.434 813.182L653.8 817.132C653.647 817.195 653.488 817.251 653.326 817.29Z"
        fill="white"
      ></path>
      <path
        d="M656.171 819.494C656.013 819.494 655.855 819.415 655.855 819.336C655.799 819.289 655.754 819.226 655.724 819.154C655.694 819.091 655.678 819.012 655.678 818.941C655.678 818.87 655.694 818.791 655.724 818.728C655.754 818.657 655.799 818.594 655.855 818.546L659.489 814.596C659.596 814.509 659.734 814.462 659.873 814.47C660.013 814.47 660.145 814.533 660.245 814.628C660.343 814.731 660.402 814.865 660.408 814.999C660.414 815.141 660.368 815.276 660.279 815.386L656.645 819.336C656.506 819.439 656.341 819.494 656.171 819.494Z"
        fill="white"
      ></path>
      <path
        d="M557.739 815.394C557.627 815.41 557.515 815.379 557.423 815.315C555.978 814.636 554.4 814.281 552.801 814.281C551.203 814.281 549.625 814.636 548.18 815.315C548.025 815.371 547.855 815.371 547.701 815.307C547.548 815.244 547.424 815.126 547.355 814.976C547.284 814.826 547.273 814.66 547.324 814.502C547.375 814.344 547.483 814.209 547.627 814.13C549.247 813.325 551.032 812.906 552.841 812.906C554.65 812.906 556.435 813.325 558.055 814.13C558.192 814.225 558.297 814.36 558.353 814.517C558.41 814.668 558.416 814.841 558.371 814.999C558.306 815.11 558.214 815.205 558.105 815.276C557.994 815.347 557.868 815.387 557.739 815.394Z"
        fill="white"
      ></path>
      <path
        d="M557.739 818.633C557.628 818.641 557.515 818.617 557.423 818.554C555.979 817.867 554.401 817.511 552.802 817.511C551.203 817.511 549.624 817.867 548.18 818.554C548.101 818.602 548.014 818.625 547.925 818.633C547.835 818.641 547.744 818.633 547.658 818.61C547.573 818.578 547.493 818.53 547.425 818.475C547.358 818.412 547.303 818.341 547.265 818.262C547.227 818.175 547.205 818.088 547.204 818.001C547.201 817.906 547.218 817.82 547.252 817.733C547.286 817.654 547.337 817.575 547.401 817.511C547.466 817.448 547.543 817.401 547.627 817.369C549.247 816.564 551.032 816.145 552.841 816.145C554.65 816.145 556.436 816.564 558.055 817.369C558.192 817.464 558.297 817.598 558.354 817.756C558.41 817.906 558.416 818.08 558.371 818.238C558.306 818.349 558.215 818.444 558.105 818.515C557.994 818.586 557.869 818.625 557.739 818.633Z"
        fill="white"
      ></path>
      <path
        d="M557.739 821.793C557.628 821.801 557.515 821.777 557.423 821.714C555.978 821.035 554.4 820.679 552.802 820.679C551.204 820.679 549.625 821.035 548.18 821.714C548.101 821.762 548.014 821.785 547.925 821.793C547.835 821.801 547.744 821.793 547.658 821.769C547.573 821.738 547.493 821.69 547.425 821.635C547.358 821.572 547.303 821.501 547.265 821.422C547.227 821.335 547.205 821.248 547.204 821.161C547.201 821.066 547.218 820.979 547.252 820.893C547.286 820.814 547.337 820.735 547.401 820.671C547.466 820.608 547.543 820.561 547.627 820.529C549.247 819.723 551.032 819.305 552.841 819.305C554.65 819.305 556.436 819.723 558.055 820.529C558.192 820.624 558.297 820.758 558.354 820.916C558.41 821.066 558.416 821.24 558.371 821.398C558.306 821.509 558.215 821.604 558.105 821.675C557.994 821.746 557.869 821.785 557.739 821.793Z"
        fill="white"
      ></path>
      <path
        opacity="0.3"
        d="M636.579 794.215L610.447 595.701C610.031 592.34 608.408 589.245 605.878 586.992C603.35 584.74 600.088 583.483 596.701 583.457H593.383C594.115 583.444 594.822 583.717 595.353 584.22C595.885 584.721 596.199 585.412 596.227 586.142L620.638 796.277L636.579 794.215Z"
        fill="black"
      ></path>
      <path
        d="M620.069 797.462H648.271L647.876 791.695H619.516L620.069 797.462Z"
        fill="#15247C"
      ></path>
      <path
        opacity="0.3"
        d="M620.069 797.462H636.895L636.263 791.695H619.516L620.069 797.462Z"
        fill="black"
      ></path>
      <path
        opacity="0.3"
        d="M562.637 549.014L540.834 548.777V791.458L552.21 791.537L562.558 594.753L562.637 549.014Z"
        fill="black"
      ></path>
      <path
        d="M572.67 361.71L573.382 358.313C575.12 335.166 604.981 354.837 604.981 354.837C604.981 354.837 604.032 363.132 603.479 372.216C603.479 374.191 601.742 375.613 601.347 377.114V383.592L601.979 396.074C601.979 396.074 597.16 402.63 586.18 402.709C586.18 402.709 574.408 402.788 567.772 394.02L572.67 361.71Z"
        fill="#FFC183"
      ></path>
      <path
        d="M609.325 327.662C609.325 327.662 620.227 382.249 595.027 385.014C573.223 387.384 571.564 353.336 571.564 353.336L573.144 331.374L590.05 325.055L609.325 327.662Z"
        fill="#FFC183"
      ></path>
      <path
        d="M602.215 340.767C599.687 337.212 595.421 334.605 590.918 334.763C585.862 334.921 581.754 338.95 582.228 344.875L582.307 346.218C582.332 346.809 582.135 347.388 581.755 347.841C581.375 348.294 580.839 348.589 580.253 348.667C579.696 348.676 579.147 348.797 578.636 349.021C578.127 349.245 577.667 349.57 577.285 349.974C576.901 350.379 576.604 350.857 576.408 351.378C576.213 351.9 576.123 352.455 576.145 353.012L576.224 356.883C576.222 357.113 576.13 357.332 575.968 357.495C575.805 357.658 575.585 357.749 575.355 357.752C575.355 357.752 574.249 357.91 574.012 357.041L573.459 352.933L577.251 329.629L596.527 324.494L604.664 331.287L602.215 340.767Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.15"
        d="M572.67 361.868C572.67 361.868 574.171 361.789 575.356 359.814L572.354 364.948L572.67 361.868Z"
        fill="black"
      ></path>
      <path
        d="M600.003 370.399L589.97 368.108C589.93 369.257 590.285 370.385 590.975 371.305C591.664 372.224 592.648 372.881 593.762 373.164C598.596 374.349 600.003 370.399 600.003 370.399Z"
        fill="white"
      ></path>
      <path
        d="M591.076 357.523C590.534 357.512 590.018 357.293 589.635 356.91C589.252 356.527 589.032 356.011 589.022 355.469C589.02 355.199 589.072 354.931 589.174 354.68C589.276 354.43 589.428 354.203 589.619 354.012C589.81 353.821 590.037 353.669 590.288 353.567C590.537 353.465 590.806 353.413 591.076 353.415C591.62 353.415 592.143 353.631 592.528 354.017C592.913 354.402 593.13 354.924 593.13 355.469C593.13 356.014 592.913 356.536 592.528 356.921C592.143 357.306 591.62 357.523 591.076 357.523Z"
        fill="black"
      ></path>
      <path
        d="M591.945 355.232C591.867 355.232 591.79 355.209 591.726 355.166C591.661 355.122 591.61 355.06 591.58 354.988C591.55 354.916 591.542 354.836 591.558 354.759C591.573 354.683 591.611 354.613 591.666 354.557C591.721 354.503 591.792 354.465 591.869 354.45C591.945 354.434 592.024 354.442 592.096 354.472C592.169 354.502 592.23 354.552 592.274 354.617C592.317 354.682 592.34 354.759 592.34 354.837C592.344 354.89 592.336 354.943 592.317 354.992C592.298 355.041 592.27 355.087 592.232 355.124C592.195 355.162 592.15 355.19 592.101 355.209C592.051 355.228 591.998 355.235 591.945 355.232Z"
        fill="white"
      ></path>
      <path
        d="M552.209 394.81C552.209 394.81 578.594 427.831 585.151 463.696C585.151 463.696 592.182 495.769 538.305 522.47V518.994C538.305 518.994 570.694 500.193 575.513 472.465L574.407 461.642C574.407 461.642 561.689 426.883 540.754 397.654L552.209 394.81Z"
        fill="#15247C"
      ></path>
      <path
        d="M607.113 357.997C606.571 357.986 606.054 357.767 605.671 357.384C605.289 357.001 605.069 356.485 605.059 355.943C605.056 355.673 605.108 355.405 605.21 355.154C605.313 354.904 605.464 354.677 605.655 354.486C605.846 354.295 606.074 354.143 606.324 354.041C606.574 353.939 606.842 353.887 607.113 353.889C607.657 353.889 608.18 354.105 608.565 354.491C608.95 354.876 609.167 355.398 609.167 355.943C609.167 356.488 608.95 357.01 608.565 357.395C608.18 357.78 607.657 357.997 607.113 357.997Z"
        fill="black"
      ></path>
      <path
        d="M607.903 355.627C607.824 355.627 607.748 355.604 607.683 355.561C607.618 355.517 607.568 355.455 607.538 355.383C607.508 355.311 607.5 355.231 607.515 355.154C607.53 355.078 607.568 355.008 607.624 354.952C607.679 354.898 607.749 354.86 607.826 354.845C607.903 354.829 607.982 354.837 608.054 354.867C608.126 354.897 608.188 354.948 608.231 355.012C608.275 355.077 608.298 355.154 608.298 355.232C608.301 355.285 608.294 355.338 608.275 355.387C608.256 355.437 608.227 355.482 608.19 355.519C608.152 355.557 608.107 355.585 608.058 355.604C608.008 355.623 607.955 355.63 607.903 355.627Z"
        fill="white"
      ></path>
      <path
        opacity="0.2"
        d="M537.989 454.295L539.49 440.786C539.727 437.232 541.149 433.756 542.334 430.359C542.334 430.359 547.785 416.771 558.608 548.698L537.91 549.172V454.295H537.989Z"
        fill="black"
      ></path>
      <g opacity="0.3">
        <path
          opacity="0.3"
          d="M599.845 367.318L597.238 367.397C597.161 367.403 597.082 367.393 597.008 367.367C596.935 367.342 596.867 367.303 596.808 367.252C596.749 367.201 596.701 367.138 596.666 367.068C596.632 366.999 596.612 366.923 596.606 366.844C596.601 366.767 596.612 366.689 596.636 366.615C596.661 366.541 596.701 366.472 596.752 366.414C596.804 366.355 596.866 366.307 596.936 366.273C597.005 366.238 597.082 366.218 597.159 366.213L599.766 366.133C599.922 366.123 600.074 366.082 600.214 366.013C600.354 365.944 600.479 365.848 600.581 365.731C600.684 365.613 600.762 365.477 600.812 365.329C600.863 365.182 600.882 365.025 600.872 364.87C600.862 364.714 600.821 364.562 600.752 364.422C600.682 364.283 600.587 364.158 600.469 364.055C600.352 363.952 600.216 363.873 600.068 363.824C599.92 363.774 599.764 363.753 599.608 363.764C599.462 363.74 599.324 363.676 599.212 363.578C599.101 363.48 599.019 363.353 598.976 363.211C598.897 362.895 599.292 362.658 599.529 362.579C600.154 362.553 600.764 362.769 601.234 363.181C601.705 363.592 601.999 364.168 602.057 364.791C602.078 365.102 602.038 365.415 601.938 365.71C601.839 366.006 601.682 366.279 601.476 366.514C601.271 366.749 601.021 366.941 600.741 367.079C600.461 367.217 600.156 367.299 599.845 367.318Z"
          fill="black"
        ></path>
      </g>
      <path
        d="M612.959 350.729L604.111 350.492H602.926L595.264 350.334H595.185L585.231 350.097C584.459 350.088 583.714 350.38 583.154 350.911C582.593 351.442 582.261 352.17 582.229 352.941L582.15 355.153C582.124 356.196 582.304 357.233 582.678 358.206C583.054 359.179 583.617 360.069 584.336 360.825C585.055 361.58 585.915 362.187 586.868 362.609C587.822 363.033 588.849 363.264 589.892 363.29C590.934 363.316 591.972 363.136 592.945 362.761C593.918 362.386 594.808 361.823 595.564 361.104C596.319 360.385 596.926 359.525 597.348 358.571C597.772 357.618 598.002 356.591 598.029 355.548L598.108 353.336C598.169 352.681 597.97 352.028 597.555 351.519L600.635 351.598C600.413 351.842 600.241 352.129 600.133 352.442C600.024 352.754 599.981 353.085 600.003 353.415L599.924 355.627C599.898 356.67 600.079 357.707 600.453 358.68C600.828 359.653 601.391 360.543 602.11 361.299C602.829 362.054 603.69 362.661 604.643 363.083C605.597 363.507 606.623 363.738 607.666 363.764C608.709 363.79 609.746 363.61 610.719 363.235C611.693 362.86 612.582 362.297 613.338 361.578C614.093 360.859 614.7 359.999 615.123 359.045C615.546 358.092 615.777 357.065 615.803 356.022L615.882 353.81C615.849 353.03 615.535 352.288 614.998 351.722C614.46 351.156 613.736 350.802 612.959 350.729ZM597.002 353.336L596.923 355.548C596.891 357.34 596.149 359.045 594.861 360.289C593.571 361.534 591.841 362.215 590.05 362.184C588.258 362.152 586.552 361.41 585.308 360.122C584.064 358.833 583.382 357.103 583.414 355.311L583.493 353.099C583.513 352.652 583.705 352.23 584.029 351.921C584.352 351.611 584.783 351.439 585.231 351.44L595.264 351.677C595.714 351.672 596.148 351.843 596.475 352.153C596.802 352.461 596.997 352.886 597.017 353.336H597.002ZM614.618 356.101C614.586 357.893 613.845 359.598 612.556 360.842C611.267 362.086 609.536 362.768 607.745 362.737C605.954 362.705 604.248 361.963 603.004 360.675C601.76 359.386 601.078 357.655 601.109 355.864L601.188 353.652C601.209 353.205 601.401 352.783 601.725 352.474C602.048 352.164 602.478 351.992 602.926 351.993H604.127L612.975 352.23C613.422 352.25 613.844 352.442 614.153 352.766C614.462 353.09 614.634 353.52 614.634 353.968L614.618 356.101Z"
        fill="black"
      ></path>
      <path
        d="M566.666 338.247C567.377 332.322 570.458 327.898 575.592 326.792C577.766 326.349 580.013 326.431 582.149 327.029C582.34 327.089 582.543 327.109 582.743 327.09C582.942 327.07 583.136 327.011 583.313 326.914C583.489 326.819 583.645 326.689 583.771 326.533C583.897 326.375 583.99 326.195 584.045 326.003C584.514 324.049 585.625 322.309 587.201 321.064C588.777 319.817 590.725 319.136 592.735 319.13C594.149 319.107 595.548 319.425 596.813 320.058C598.078 320.69 599.173 321.618 600.003 322.764C600.115 322.935 600.263 323.08 600.438 323.188C600.613 323.295 600.809 323.362 601.013 323.385C601.217 323.408 601.423 323.385 601.617 323.319C601.811 323.252 601.988 323.144 602.136 323.001C602.136 323.001 608.14 318.182 616.039 323.001C618.721 324.709 620.669 327.356 621.501 330.424C622.334 333.492 621.992 336.76 620.542 339.59C617.382 345.91 609.166 347.806 604.032 343.066C602.215 341.407 600.793 338.879 600.556 335.087C600.292 333.018 600.481 330.915 601.109 328.925H598.502C595.421 328.767 590.523 328.214 585.941 328.925C586.02 329.004 586.099 329.004 586.257 329.083L578.12 331.848C578.12 331.848 575.671 353.415 574.407 353.257C568.483 351.993 565.955 343.619 566.666 338.247Z"
        fill="#6A8D92"
      ></path>
      <path
        opacity="0.15"
        d="M578.848 379.642C581.748 383.167 585.862 385.479 590.381 386.12C593.741 388.442 597.754 389.632 601.836 389.517L601.52 382.723L600.572 383.276C596.828 385.239 592.474 385.692 588.407 384.54C584.954 383.623 581.883 381.631 579.638 378.852C579.559 378.615 579.085 378.615 578.927 378.773C578.789 379.042 578.761 379.353 578.848 379.642Z"
        fill="black"
      ></path>
      <path
        d="M699.461 397.259H683.187C682.905 397.267 682.627 397.342 682.379 397.48C682.132 397.617 681.921 397.812 681.766 398.049L662.806 427.91C662.731 428.008 662.686 428.125 662.677 428.248C662.666 428.37 662.692 428.494 662.751 428.602C662.809 428.71 662.898 428.799 663.005 428.859C663.113 428.919 663.236 428.945 663.359 428.937L681.055 429.648L700.093 398.286C700.151 398.178 700.181 398.057 700.177 397.935C700.174 397.812 700.138 397.693 700.074 397.589C700.01 397.485 699.92 397.399 699.812 397.342C699.704 397.283 699.583 397.255 699.461 397.259Z"
        fill="#3562FF"
      ></path>
      <path
        opacity="0.2"
        d="M699.461 397.259H682.634C682.523 397.261 682.414 397.291 682.318 397.346C682.221 397.401 682.14 397.48 682.082 397.575L662.806 427.91C662.731 428.008 662.686 428.125 662.677 428.248C662.666 428.37 662.692 428.494 662.751 428.602C662.809 428.71 662.898 428.799 663.005 428.859C663.113 428.919 663.236 428.945 663.359 428.937L681.055 429.648L700.093 398.286C700.151 398.178 700.181 398.057 700.177 397.935C700.174 397.812 700.138 397.693 700.074 397.589C700.01 397.485 699.92 397.399 699.812 397.342C699.704 397.283 699.583 397.255 699.461 397.259Z"
        fill="black"
      ></path>
      <path
        d="M699.936 398.365H683.741C683.518 398.362 683.297 398.42 683.103 398.531C682.908 398.642 682.747 398.803 682.635 398.997L663.597 429.016L680.818 430.122L699.936 398.365Z"
        fill="#3562FF"
      ></path>
      <path
        d="M566.587 488.58L578.847 488.493C579.512 488.493 580.175 488.413 580.822 488.256L590.144 485.649C591.031 485.415 591.794 484.849 592.277 484.069C592.872 483.214 593.15 482.178 593.063 481.14C592.977 480.102 592.531 479.127 591.803 478.382C591.803 478.382 593.699 475.854 591.171 472.694C591.171 472.694 593.699 469.534 590.539 467.006C590.539 467.006 591.487 462.898 588.327 461.634L574.502 461.476C572.854 461.562 571.278 462.17 569.999 463.214L561.547 470.087L538.242 475.143V453.734L511.541 448.994C511.541 448.994 502.614 480.199 501.113 500.817C501.031 502.094 501.221 503.374 501.67 504.573C502.119 505.772 502.818 506.861 503.72 507.769C506.011 510.06 509.329 510.534 512.568 510.06C521.005 508.962 535.398 506.75 566.587 488.58Z"
        fill="#FFC183"
      ></path>
      <path
        opacity="0.15"
        d="M538.306 454.295L536.726 453.663L534.198 474.44C528.884 475.79 523.799 477.919 519.109 480.759C519.109 480.759 523.533 478.231 538.306 475.467V454.295Z"
        fill="black"
      ></path>
      <path
        opacity="0.15"
        d="M584.519 467.488L590.207 466.856"
        stroke="black"
        stroke-width="1.19"
        stroke-miterlimit="10"
        stroke-linecap="round"
      ></path>
      <path
        opacity="0.15"
        d="M585.467 473.412L591.155 472.859"
        stroke="black"
        stroke-width="1.19"
        stroke-miterlimit="10"
        stroke-linecap="round"
      ></path>
      <path
        opacity="0.15"
        d="M586.099 479.1L591.787 478.469"
        stroke="black"
        stroke-width="1.19"
        stroke-miterlimit="10"
        stroke-linecap="round"
      ></path>
      <path
        opacity="0.15"
        d="M501.256 499.877C501.165 500.532 501.112 501.191 501.098 501.852C501.153 503.433 501.586 504.976 502.362 506.355C504.574 510.147 508.603 510.937 512.474 510.305C520.927 508.962 535.383 506.75 566.508 488.501L578.753 488.422C579.418 488.421 580.082 488.342 580.728 488.185L590.05 485.578C590.937 485.344 591.7 484.778 592.183 483.998C592.778 483.143 593.056 482.107 592.969 481.069C592.883 480.031 592.437 479.055 591.709 478.31C591.709 478.31 593.605 475.782 591.077 472.623C591.077 472.623 593.605 469.463 590.445 466.935C590.445 466.935 591.393 462.827 588.233 461.563H586.021C586.571 462.392 586.917 463.341 587.026 464.33C587.136 465.319 587.008 466.321 586.653 467.251C588.549 470.727 587.285 473.255 587.285 473.255C589.813 475.151 588.233 478.942 588.233 478.942C588.383 479.429 588.463 479.935 588.47 480.443C588.539 481.517 588.192 482.576 587.5 483.4C586.809 484.224 585.826 484.75 584.757 484.867L578.121 485.578H565.56C537.911 500.667 512.869 503.827 512.869 503.827C501.414 503.827 501.414 494.426 501.414 494.426L501.256 499.877Z"
        fill="black"
      ></path>
      <path
        opacity="0.2"
        d="M635.789 451.451L631.681 423.486C631.681 423.486 635.789 421.748 640.055 450.582L635.789 451.451Z"
        fill="black"
      ></path>
      <path
        opacity="0.15"
        d="M650.877 460.694C645.205 469.779 643.625 471.904 643.625 471.904C645.521 465.584 650.577 455.788 650.577 455.788L650.877 460.694Z"
        fill="black"
      ></path>
      <path
        d="M695.433 415.586L696.46 404.606L693.221 409.187L695.433 415.586Z"
        fill="#FC9D9D"
      ></path>
      <path
        opacity="0.15"
        d="M695.433 415.586L696.46 404.606L693.221 409.187L695.433 415.586Z"
        fill="#FFC183"
      ></path>
      <path
        d="M693.853 410.135L689.113 402.551C688.893 402.207 688.551 401.959 688.155 401.856C687.76 401.754 687.34 401.804 686.98 401.998C686.638 402.183 686.372 402.482 686.227 402.843C686.082 403.204 686.07 403.604 686.19 403.973L689.034 412.268L679.175 409.495C678.937 409.416 678.683 409.395 678.435 409.436C678.187 409.477 677.953 409.579 677.753 409.732L677.595 409.89C677.336 410.055 677.13 410.293 677.004 410.575C676.878 410.855 676.836 411.166 676.884 411.47C676.927 411.711 677.02 411.941 677.156 412.145C677.291 412.349 677.468 412.523 677.674 412.655L686.443 417.474L686.838 420.16L675.304 416.052C674.893 415.902 674.441 415.908 674.034 416.068C673.626 416.228 673.291 416.532 673.092 416.921C672.898 417.33 672.872 417.8 673.019 418.228C673.167 418.657 673.477 419.01 673.882 419.212L683.836 424.742L682.809 426.085L673.408 421.898C673.008 421.721 672.556 421.705 672.145 421.852C671.733 421.999 671.394 422.298 671.197 422.688C671.014 423.087 670.994 423.541 671.142 423.954C671.289 424.367 671.593 424.707 671.987 424.9L676.173 428.376C676.173 428.376 669.932 432.168 676.41 438.962L679.492 441.253L693.789 426.954C694.092 426.663 694.316 426.301 694.44 425.9C694.565 425.5 694.586 425.074 694.501 424.663L694.184 422.372L695.606 420.476C695.877 420.09 696.059 419.65 696.141 419.185C696.223 418.722 696.202 418.245 696.081 417.79L693.853 410.135Z"
        fill="#FFC183"
      ></path>
      <path
        opacity="0.15"
        d="M682.872 426.085L686.98 429.166L683.899 424.663L682.872 426.085Z"
        fill="black"
      ></path>
      <path
        opacity="0.15"
        d="M686.506 417.395C688.38 418.879 689.667 420.978 690.14 423.32L686.98 420.318L686.506 417.395Z"
        fill="black"
      ></path>
      <path
        opacity="0.15"
        d="M686.584 405L690.692 411.083L693.22 415.27L689.033 412.268L686.584 405Z"
        fill="black"
      ></path>
      <path
        d="M573.618 350.887C573.507 350.342 573.277 349.828 572.944 349.382C572.612 348.936 572.187 348.568 571.697 348.304C571.207 348.041 570.666 347.887 570.111 347.856C569.555 347.824 569 347.915 568.483 348.122C563.585 349.544 564.533 359.419 571.011 361.631C575.04 362.421 574.487 360.051 574.171 356.733L573.618 350.887Z"
        fill="#FFC183"
      ></path>
      <path
        opacity="0.15"
        d="M567.851 350.808C568.201 350.59 568.594 350.449 569.002 350.394C569.411 350.34 569.826 350.374 570.221 350.492C570.928 350.801 571.492 351.365 571.801 352.072C572.213 352.988 572.349 354.003 572.196 354.995V355.864C572.168 355.982 572.095 356.084 571.993 356.151C571.892 356.219 571.769 356.245 571.649 356.224C571.529 356.204 571.421 356.14 571.347 356.044C571.273 355.948 571.237 355.827 571.248 355.706V354.837C571.308 354.007 571.201 353.175 570.932 352.388C570.72 351.917 570.359 351.529 569.905 351.282C569.4 351.184 568.877 351.239 568.404 351.44C568.294 351.476 568.177 351.479 568.065 351.451C567.954 351.423 567.852 351.365 567.772 351.282C567.614 351.282 567.693 350.966 567.851 350.808Z"
        fill="black"
      ></path>
    </svg>

  </div>
</div>